<a href="https://colab.research.google.com/github/Eduardomathias09/Pandas/blob/main/INTRODU%C3%87%C3%83O_PANDAS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
#dataframe = pd.read_csv('/content/drive/MyDrive/ocorrencia/ocorrencia.csv', sep=';')
#dataframe

Leitura do arquivo de dados

In [3]:
df = pd.read_csv('/content/drive/MyDrive/ocorrencia/ocorrencia_2010_2020 - ocorrencia_2010_2020.csv', sep=';', parse_dates = ['ocorrencia_dia'])
df

      codigo_ocorrencia  ...  total_recomendacoes
0                 40211  ...                    0
1                 40349  ...                    0
2                 40351  ...                    0
3                 39527  ...                    0
4                 40324  ...                    0
...                 ...  ...                  ...
5747              79804  ...                    0
5748              79757  ...                    0
5749              79802  ...                    0
5750              79756  ...                    0
5751              79844  ...                    0

[5752 rows x 9 columns]

In [4]:
df.loc[0,'ocorrencia_cidade']

'RIO DE JANEIRO'

In [5]:
df.loc[[5,15,35]]

    codigo_ocorrencia  codigo_ocorrencia2  ... ocorrencia_hora total_recomendacoes
5               39807               39807  ...        17:53:00                   0
15              39315               39315  ...        21:22:00                   0
35              39487               39487  ...        16:50:00                   0

[3 rows x 9 columns]

In [6]:
df.ocorrencia_classificacao.is_unique

False

In [7]:
df.set_index('codigo_ocorrencia', inplace=True)

In [8]:
df.loc[:,'ocorrencia_cidade']

codigo_ocorrencia
40211        RIO DE JANEIRO
40349                 BELÉM
40351        RIO DE JANEIRO
39527    LUCAS DO RIO VERDE
40324               PELOTAS
                ...
79804              CAMPINAS
79757     LAGOA DA CONFUSÃO
79802        RIO DE JANEIRO
79756             VICENTINA
79844        RIO DE JANEIRO
Name: ocorrencia_cidade, Length: 5752, dtype: object

In [9]:
df['backup_aerodomo'] = df.ocorrencia_aerodromo

In [12]:
#df.drop(['backup'],axis=1, inplace=True)

In [11]:
#df.loc[0, 'ocorrencia_aerodromo'] = 'PEDRO'

In [13]:
df.head(20)

                   codigo_ocorrencia2  ... backup_aerodomo
codigo_ocorrencia                      ...
40211                           40211  ...            ****
40349                           40349  ...            SBBE
40351                           40351  ...            SBRJ
39527                           39527  ...            ****
40324                           40324  ...            SBPK
39807                           39807  ...            ****
40215                           40215  ...            SBUY
39707                           39707  ...            ****
39156                           39156  ...            SBCA
39711                           39711  ...            ****
39789                           39789  ...            ****
40069                           40069  ...            SBMT
40414                           40414  ...            SBBR
39507                           39507  ...            ****
40107                           40107  ...            SNGU
39315                           39315  ...            ****
39809                           39809  ...            ****
39810                           39810  ...            ****
39828                           39828  ...            ****
44575                           44575  ...            SBGL

[20 rows x 9 columns]

In [14]:
df.loc[df.ocorrencia_uf == 'MT', ['ocorrencia_classificacao']] = 'Paulo'

In [15]:
df.loc[df.ocorrencia_uf == 'MT']

                   codigo_ocorrencia2  ... backup_aerodomo
codigo_ocorrencia                      ...
39527                           39527  ...            ****
39507                           39507  ...            ****
39321                           39321  ...            ****
39405                           39405  ...            ****
39727                           39727  ...            SBCY
...                               ...  ...             ...
79678                           79678  ...            ****
79689                           79689  ...           *****
79697                           79697  ...            ****
79717                           79717  ...            ****
79754                           79754  ...            ****

[292 rows x 9 columns]

In [16]:
df.loc[:,'backup_aerodomo'] = 'Fui alterado'

In [17]:
df.replace(['GO'], pd.NA, inplace=True)

In [18]:
df.isna().sum()

codigo_ocorrencia2            0
ocorrencia_classificacao      0
ocorrencia_cidade             0
ocorrencia_uf               309
ocorrencia_aerodromo          0
ocorrencia_dia                0
ocorrencia_hora               1
total_recomendacoes           0
backup_aerodomo               0
dtype: int64

In [19]:
df.head()

                   codigo_ocorrencia2  ... backup_aerodomo
codigo_ocorrencia                      ...
40211                           40211  ...    Fui alterado
40349                           40349  ...    Fui alterado
40351                           40351  ...    Fui alterado
39527                           39527  ...    Fui alterado
40324                           40324  ...    Fui alterado

[5 rows x 9 columns]

In [20]:
#df.reset_index(drop=True, inplace=True)

In [21]:
df

                   codigo_ocorrencia2  ... backup_aerodomo
codigo_ocorrencia                      ...
40211                           40211  ...    Fui alterado
40349                           40349  ...    Fui alterado
40351                           40351  ...    Fui alterado
39527                           39527  ...    Fui alterado
40324                           40324  ...    Fui alterado
...                               ...  ...             ...
79804                           79804  ...    Fui alterado
79757                           79757  ...    Fui alterado
79802                           79802  ...    Fui alterado
79756                           79756  ...    Fui alterado
79844                           79844  ...    Fui alterado

[5752 rows x 9 columns]

**RENOMEAR COLUNAS**

In [23]:
#df.rename(columns={'ocorrencia_classificacao': 'a', 'ocorrencia_cidade': 'b'}), inplace = True

In [24]:
df.dtypes

codigo_ocorrencia2                   int64
ocorrencia_classificacao            object
ocorrencia_cidade                   object
ocorrencia_uf                       object
ocorrencia_aerodromo                object
ocorrencia_dia              datetime64[ns]
ocorrencia_hora                     object
total_recomendacoes                  int64
backup_aerodomo                     object
dtype: object

In [25]:
df.ocorrencia_dia.dt.day

codigo_ocorrencia
40211     1
40349     1
40351     1
39527     1
40324     1
         ..
79804    29
79757    30
79802    30
79756    31
79844    31
Name: ocorrencia_dia, Length: 5752, dtype: int64

In [26]:
df.tail(3)

                   codigo_ocorrencia2  ... backup_aerodomo
codigo_ocorrencia                      ...
79802                           79802  ...    Fui alterado
79756                           79756  ...    Fui alterado
79844                           79844  ...    Fui alterado

[3 rows x 9 columns]

**EXERCÍCIOS**

In [27]:
df.head()

                   codigo_ocorrencia2  ... backup_aerodomo
codigo_ocorrencia                      ...
40211                           40211  ...    Fui alterado
40349                           40349  ...    Fui alterado
40351                           40351  ...    Fui alterado
39527                           39527  ...    Fui alterado
40324                           40324  ...    Fui alterado

[5 rows x 9 columns]

In [28]:
#Criando Backup's

df['backup_uf'] = df.ocorrencia_uf
df['backup_cidade'] = df.ocorrencia_cidade
df['backup_aerodromo'] = df.ocorrencia_aerodromo

df.loc[df.ocorrencia_uf == 'MT', ['ocorrencia_classificacao']] = 'Paulo'

In [29]:
#Fazendo Alterações

df.loc[df.ocorrencia_aerodromo == '****', ['ocorrencia_aerodromo']] = 'MODF'
df.loc[df.ocorrencia_cidade == 'RIO DE JANEIRO', ['ocorrencia_classificacao']] = 'TRAGEDIA'
df.loc[df.ocorrencia_aerodromo == 'SBPK', ['ocorrencia_cidade']] = 'ESPECIAL'

In [30]:
df.head()

                   codigo_ocorrencia2  ... backup_aerodromo
codigo_ocorrencia                      ...
40211                           40211  ...             ****
40349                           40349  ...             SBBE
40351                           40351  ...             SBRJ
39527                           39527  ...             ****
40324                           40324  ...             SBPK

[5 rows x 12 columns]